body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #ccc;
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}
button:hover {
  background-color: #007BFF;
  color: white;
}